.feature {
  height: 100vh;
  width: 100%;
  background-color: black;
  .card-group {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .card {
    margin: 40px;
    margin-bottom: 80px;
    background-color: white;
  }
  .card-content {
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 250px;
      img {
        width: 100%;
      }
      .pcdn & {
        padding: 15px;
      }
    }
  }
  .card-footer {
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 600;
    text-align: center;
  }
}
