@mixin box-sizing ($sizing) {
  box-sizing:$sizing;
}
//background controllers
@mixin bg_y_full($y: 100%) {
  background-size: auto $y;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg_x_full($x: 100%) {
  background-size: $x auto;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg_full($x: 100%,$y: 100%) {
  background-size: $x $y;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg_Manual($size: 100% 100%,$repeat: no-repeat,$position: center) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

//Transition Controller
@mixin transition($sim: all 0.3s ease){
  transition: $sim;
}

//Transform Controller
@mixin translate($x:0,$y:0,$z:0){
  transform: translate3d($x,$y,$z);
}

//Transition Controller
@mixin transition($sim: all 0.3s ease){
  transition: $sim;
}
@mixin transitionDelay($sec: 0.2s) {
  transition-delay: $sec;
}
//Transform Controller
@mixin transformOrigin($o: center center){
  transform-origin: $o;
}
//translate
@mixin translate($x:0,$y:0,$z:0){
  transform: translate3d($x,$y,$z);
}
@mixin translateX($x:0){
  transform: translate3d($x,0,0);
}
@mixin translateY($y:0){
  transform: translate3d(0,$y,0);
}
@mixin translateZ($z:0){
  transform: translate3d(0,0,$z);
}
//rotate
@mixin rotate($x: 0deg,$y: 0deg,$z: 0deg){
  transform: rotateX($x) rotateY($y) rotateZ($z);
}
@mixin rotateX($x: 0deg){
  transform: rotateX($x);
}
@mixin rotateY($y: 0deg){
  transform: rotateY($y);
}
@mixin rotateZ($z: 0deg){
  transform: rotateZ($z);
}
//scale
@mixin scale($s: 1){
  transform: scale($s);
}

//Bootstrap Media Common Controller
//自定义响应分辨率段，最好用于手机端
@mixin manual-screen($start: 0px,$end: 480px) {
  @media only screen and (min-width: $start) and (max-width: $end){
    @content;
  }
}
//所有移动端，min型pad和mobile
@mixin mobile-screen($res: 768px) {
  @media only screen and (max-width: $res) {
    @content;
  }
}
//所有pad端
@mixin pad-screen(){
  @media only screen and (min-width:768px) and (max-width: 1199px) {
    @content;
  }
}
//中间级，管理范围768 至 1500
@mixin middle-screen(){
  @media only screen and (min-width:768px) and (max-width: 1500px) {
    @content;
  }
}
//大型屏幕
@mixin big-screen(){
  @media only screen and (min-width:1200px) and (max-width: 1500px){
    @content;
  }
}
//超大型屏幕
@mixin huge-screen(){
  @media only screen and (min-width:1500px){
    @content;
  }
}
//当前系统应用块中间显示宽度统一响应限制
@mixin media_box_width(){

  margin: 0px auto;
  width: 1400px;

  @include big-screen(){
    width: 1100px;
  }

  @include pad-screen(){
    width: 700px;
  }

  @include mobile-screen(){
    width: 100%;
  }
}

//Flex Align Controller
@mixin flex_align ($crosswise: center,$content: center,$vertical: center,$item: center){
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  //左右
  -webkit-box-pack: $crosswise;
  -ms-flex-pack: $crosswise;
  //justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;
  -webkit-justify-content: $content;
  justify-content: $content;
  //上下
  -webkit-box-align: $vertical;
  -ms-flex-align: $vertical;
  -webkit-align-items: $item;
  align-items: $item;
}

@mixin ellipsis (){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin noEllipsis (){
  overflow: auto;
  text-overflow: clip;
  white-space: normal;
}
