$global_active_color: #f0e64e;
////////////////////////
//header color set begin
$header_bg_color: #101010;
//nav control bar
$bar_border_color: #ffffff;

//main nav
$main_nav_color: #ffffff;
$main_nav_active_color: $global_active_color;

$main_nav_bg_color: rgba(0,0,0,0.8);

$main_nav_contact_bg: $global_active_color;
$main_nav_contact_color: #4c4c4c;

$main_nav_lang_bg: #ffffff;
$main_nav_lang_color: darken(#ffffff,70%);
$main_nav_lang_sub_color: darken(#ffffff,40%);
$main_nav_lang_sub_active_color: darken(#ffffff,70%);
$main_nav_lang_sub_border_color: darken(#ffffff,20%);
$main_nav_lang_sub_mobile_active_color: #101010;


//sub nav
$bus_nav_head_border_bottom_color: lighten(#000, 20%);
$sub_nav_title: darken(#ffffff, 10%);
$sub_nav_list: darken(#ffffff, 5%);

//header color set end
//////////////////////

////////////////////////
//footer color set begin
$footer_bg_color: $header_bg_color;
$column_title_color: #ffffff;
$column_link_color: darken(#ffffff, 20%);
$column_pro_link_color: darken(#ffffff, 40%);
$column_contact_color: darken(#ffffff, 20%);

$column_code_label_color: darken(#ffffff, 20%);

$copy_border_top_color: lighten(#000000, 24%);
$copy_text_color: darken(#ffffff, 40%);
$copy_link_color: darken($global_active_color,30%);

//footer color set end
////////////////////////

///////////////////////////
//page index settings begin

//banner begin//
$banner_bg_color: #ffffff;

//content
$content_color: #ffffff;
$content_title_border_color: $content_color;

//check more btn
$check_more_color: #eee64e;
$check_more_active_color: #444;
$check_more_bg_color: transparent;
$check_more_active_bg_color: #eee64e;
$check_more_border_color: $global_active_color;
$check_more_border_active_color: #ffffff;

//banner end//


//pros recommend begin//
$recommend_header_color: #fff;
$recommend_header_border_color: lighten(#000,25%);

$recommend_pro_bg_color: #11191c;
$recommend_pro_item_color: #fff;
$recommend_pro_switch_btn_bg_color: #323232;

//pros recommend end//


//video recommend begin//
$recommend_video_bg_color: #0d0d08;
$recommend_video_title_color: #fff;

//video recommend end//

//page index settings end
/////////////////////////


////////////////////////////
//page product compare begin
$compare_bg_color: #323131;
$compare_header_color: #fff;

$compare_table_color: #fff;
$compare_table_border_color: darken(#fff, 70%);
$compare_item_option_bg_color: #666;
$compare_placeholder_active_bg_color: #f0e64e;
$compare_placeholder_active_color: #474747;

//page product compare end
//////////////////////////


//reset styles

ul{
  padding: 0;
  list-style: none;
}

*{
  font-family: 'Roboto', "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Helvetica, Tahoma, Arial sans-serif !important;
}
a{
  text-decoration: none !important;
}
