mixin menu
  -
    var DATA = {
      en: {
        current: 'English',
        home: 'HOME',
        product1: 'CDN+P2P',
        product2: 'PCDN',
        solution: 'SOLUTION',
        about: 'COMPANY',
        contact: 'CONTACT'
      },
      cn: {
        current: '中文',
        home: '首页',
        product1: 'CDN+P2P',
        product2: 'PCDN',
        solution: '解决方案',
        about: '公司介绍',
        contact: '联系我们'
      }
    };
    var data = (LANG == 'zh-cn' ? DATA.cn : DATA.en);

  div#nav
  script(src='/scripts/nav.iife.js')
