extends ./base

mixin recommend_item(obj)
  - var more_title = LANG == 'zh-cn' ? '查看详情' : 'Details';
  - var hrefAttributes = { href: obj.href };
  - var imgAttributes = { src: obj.img, alt: '' };
  .swiper-slide
    a&attributes(hrefAttributes)
      img.recommend_img&attributes(imgAttributes)
    h3.recommend_title= obj.title
    article.recommend_summery= obj.summery
    a.check_more.no_arrow&attributes(hrefAttributes)= more_title
