extends ./base

mixin recommend_item(obj)
  - var more_title = LANG == 'zh-cn' ? '查看详情' : 'Details';
  - var hrefAttributes = { href: obj.href };
  - var imgAttributes = { src: obj.img, alt: '' };
  .swiper-slide
    a&attributes(hrefAttributes)
      img.recommend_img&attributes(imgAttributes)
    h3.recommend_title= obj.title
    article.recommend_summery= obj.summery
    a.check_more.no_arrow&attributes(hrefAttributes)= more_title

mixin banner_video_loop()
  video#banner_video(autoplay height="100%" muted loop)
    source(src="ray-logo-1080p.mp4" type="video/mp4")
  link(rel="stylesheet" href="styles/banner.css")

mixin features()
  .features
    .feature
      .card-group
        .card.cdn-p2p
          .card-content
            .image-container
              img(src="images/icon/ic_cdn_p2p.png")
          .card-footer CDN + P2P
        .card.pcdn
          a(href="pcdn")
            .card-content
              .image-container
                img(src="images/icon/ic_pcdn.png")
            .card-footer PCDN
    link(rel="stylesheet" href="styles/feature.css")

block post-content
  script(src="scripts/page/page_index.js")
