extends ./base

mixin recommend_item(obj)
  - var more_title = LANG == 'zh-cn' ? '查看详情' : 'Details';
  - var hrefAttributes = { href: obj.href };
  - var imgAttributes = { src: obj.img, alt: '' };
  .swiper-slide
    a&attributes(hrefAttributes)
      img.recommend_img&attributes(imgAttributes)
    h3.recommend_title= obj.title
    article.recommend_summery= obj.summery
    a.check_more.no_arrow&attributes(hrefAttributes)= more_title

mixin banner_video_loop()
  video#banner_video(autoplay height="100%" muted loop playsinline)
    source(src="ray-logo-1080p.mp4" type="video/mp4")
  link(rel="stylesheet" href="styles/banner.css")

mixin features()
  .features
    .feature
      .card-group
        .card.cdn-p2p
          a(href="cdn-p2p")
            .card-content
              .image-container
                video(autoplay height="100%" muted loop playsinline)
                  source(src="MVI_7780.mp4" type="video/mp4")
            .card-footer
              p CDN + P2P
              div
                small.description More-link CDN+P2P improves content delivery for live and on demand video streams, using decentralized acceleration technologies to reduce CDN costs for streaming platforms by more than 50%-70%
        .card.pcdn
          a
            .card-content
              .image-container
                video(autoplay height="100%" muted loop playsinline)
                  source(src="MVI_7799.mp4" type="video/mp4")
            .card-footer
              p PCDN
              div
                small.description Utilize the idle bandwidth and storage resources of existing gateway devices to provide efficient, low-cost, and secure content distribution services, users can also received corresponding rewards based on their contributions
        .card.pcdn
          a(href="solution-list")
            .card-content
              .image-container
                video(autoplay height="100%" muted loop playsinline)
                  source(src="MVI_7781.mp4" type="video/mp4")
            .card-footer
              p Wi-Fi Solution
              div
                small.description More than 15 years of R&D experiences in wire & wireless routers, from chipset solutions for complete products, from PCB layout to software development, from "PandoraBox OS" to today's "DreamBox OS"
    link(rel="stylesheet" href="styles/feature.css")

block post-content
  script(src="scripts/page/page_index.js")
  script.
    const videoElements = document.document.getElementsByTagName('video')
    for (const videoElement of videoElements) {
      videoElement.controls = false
      videoElement.addEventListener('play', function() {
        this.controls = false
      })
    }
