extends ./layout/index

block title
  title MORELINK Official Site

block content
  -
    var LANG = 'en-us';
    var recommends = [
      {
        href: '/product.html?type=&id=c1',
        img: '/images/img/index/img_product_c1_cop.png',
        title: "MLN-C1",
        summery: "Mobile（Pocket）-WiFi Router"
      },{
        href: '/product.html?type=&id=m2',
        img: '/images/img/index/img_product_m2_cop.png',
        title: "MLN-M2",
        summery: "1000Mbps Wired & Wireless High-Power Router"
      },{
        href: '/product.html?type=&id=w3',
        img: '/images/img/index/img_product_w3_cop.png',
        title: "MLN-W3",
        summery: "High Cost Performance Dual-Band Router"
      },{
        href: '/product.html?type=&id=c1',
        img: '/images/img/index/img_product_c1.png',
        title: "PBR-C1",
        summery: "Mobile（Pocket）-WiFi Router"
      }, {
        href: '/product.html?type=&id=m1',
        img: '/images/img/index/img_product_m1.png',
        title: "PBR-M1",
        summery: "1000Mbps Wired&Wireless Router with multiple ports"
      }, {
        href: '/product.html?type=&id=m2',
        img: '/images/img/index/img_product_m2.png',
        title: "PBR-M2",
        summery: "1000Mbps Wired&Wireless High-Power Router"
      }, {
        href: '/product.html?type=&id=w1',
        img: '/images/img/index/img_product_w1.png',
        title: "PBR-W1",
        summery: "High Cost Performance Router"
      }
    ];
  //- banner begin
  .banner_container
    #swiper_banner.swiper-container
      .swiper-wrapper
        //- slide item
        .swiper-slide(style="background-image: url('images/img/index/img_banner.jpg')")
          .banner_content_wraper
            .banner_content_box
              h1.content_title More and More
              article.content_summary
                p  Link the world
              a.check_more(href='/solution.html?type=MediaTek/MT7628&id=1481376751020') View More
        //-
          <div class="swiper-slide" style="background-image: url('images/img/index/img_product1.png')">
          <div class="banner_content_wraper">
          <div class="banner_content_box">
          <h1 class="content_title">EN: PCB电路解决方案</h1>
          <article class="content_summary">
          <p>EN: MT7621内置强大的MIPS® 1004KEc™双核CPU（工作频率均为880MHz），集成了联发科技全球领先的网络及存储硬件加速器，支持HNAT、HQOS、SAMBA及VPN等功能，可满足高端路由器市场、802.11ac千兆高速网络以及高清视频下载备份的需求。</p>
          <p>EN: MT7621内置强大的MIPS® 1004KEc™双核CPU（工作频率均为880MHz），集成了联发科技全球领先的网络及存储硬件加速器...</p>
          </article>
          <a href="/" class="check_more">EN: 点击查看更多详情</a>
          </div>
          </div>
          </div>
      //- <div class="swiper-pagination"></div>
  //- banner end
  //- new pros recommend begin
  .pros_recommend_container
    h1.recommend_header NEW PRODUCTS
    #pro_swiper_recommend.pro_recommend_swiper_container
      .swiper-wrapper
        - for (var i = 0; i < recommends.length; i++)
          +recommend_item(recommends[i])
      .recommend_shadow_left
        .swiper-button-prev
      .recommend_shadow_right
        .swiper-button-next
  //- new pros recommend end
  //- video swiper begin
  .video_recommend_container
    .center_arrow_down
    h1.recommend_header
      | MORE
      em LINK
      br
      |  Video
    #video_swiper_recommend.video_recommend_swiper_container
      .swiper-wrapper
        .swiper-slide
          .video_box
            //- <span class="video_play_btn"></span>
            iframe(height='498', width='510', src='https://www.youtube.com/embed/2Z1QJrK_mZw?list=PLSApfIbLzCfq7UXHBEW_Dak2EnEfjxMzE', frameborder='0', allowfullscreen='allowfullscreen', style='display:initial;')
          //- <h5 class="video_title">More and More<br>Link the world</h5>
        //-
          <div class="swiper-slide">
          <div class="video_box" style="background-image: url('images/img/index/img_video.png')">
          <span class="video_play_btn"></span>
          </div>
          <h5 class="video_title">世界上一成不变的东西，只有"任何事物都是在不断变化的"这条真理。</h5>
          </div>
          <div class="swiper-slide">
          <div class="video_box" style="background-image: url('images/img/index/img_video.png')">
          <span class="video_play_btn"></span>
          </div>
          <h5 class="video_title">世界上一成不变的东西，只有"任何事物都是在不断变化的"这条真理。</h5>
          </div>
      //- <div class="swiper-pagination"></div>
      //- <div class="swiper-button-prev"></div>
      //- <div class="swiper-button-next"></div>
  //- video swiper end
  //- Footer begin
  footer.container-fluid.footer_container
    #footer_box.footer_box
  //- Footer end
  //- build:js scripts/plugins.js
  //- endbuild
  //- build:js scripts/main.js
  //- endbuild
