extends ./layout/index

block title
  title MORELINK官方网站

block content
  -
    var LANG = 'zh-cn';
    var recommends = [
       {
        href: '/product.html?type=&id=c1',
        img: '/images/img/index/img_product_c1_cop.png',
        title: "MLN-C1",
        summery: "移动（便携）无线路由器"
        },{
        href: '/product.html?type=&id=m2',
        img: '/images/img/index/img_product_m2_cop.png',
        title: "MLN-M2",
        summery: "全千兆有线&双频无线大功率路由器"
      },{
        href: '/product.html?type=&id=w3',
        img: '/images/img/index/img_product_w3_cop.png',
        title: "MLN-W3",
        summery: "高性价比双频路由器"
      },{
        href: '/product.html?type=&id=c1',
        img: '/images/img/index/img_product_c1.png',
        title: "PBR-C1 移动（便携）无线路由器",
        summery: "采用MT7628AN解决方案，可带4G/3G模块，真正以路由器方案实现的移动路由器！"
      },{
        href: '/product.html?type=&id=m1',
        img: '/images/img/index/img_product_m1.png',
        title: "PBR-M1 全千兆多接口有线&无线路由器",
        summery: "采用MT7621AN解决方案，2.4GHz & 5GHz双频无线传输，带无线信号放大器，带触摸Home键、USB3.0、USB2.0 及 TF卡槽。"
      },{
        href: '/product.html  ?type=&id=m2',
        img: '/images/img/index/img_product_m2.png',
        title: "PBR-M2全千兆大功率有线&无线路由器",
        summery: "采用MT7621AN解决方案，2.4GHz & 5GHz双频无线传输，带无线信号放大器，带触摸Home键、USB3.0、USB2.0 及 TF卡槽。"
      },{
        href: '/product.html?type=&id=w1',
        img: '/images/img/index/img_product_w1.png',
        title: "PBR-W3高性价比双频路由器",
        summery: "采用MT7628AN解决方案，2.4GHz & 5GHz双频无线传输，搭载PandoraBox系统，使其更稳定、更高效、性价比更高！"
      },{
        href: '/product.html?type=&id=w3',
        img: '/images/img/index/img_product_w3.png',
        title: "PBR-W1高性价比有线&无线路由器",
        summery: "采用MT7688KN解决方案，2.4GHz单频无线传输，低成本、低功耗，搭载PandoraBox系统，使其更稳定、更高效、性价比更高！"
      }
    ];
  //- banner begin
  .banner_container
    +banner_video_loop()
  //- banner end
  +features()
  //- Footer begin
  footer.container-fluid.footer_container
    #footer_box.footer_box
  //- Footer end
  //- build:js scripts/plugins.js
  //- endbuild
  //- build:js scripts/main.js
  //- endbuild
