.footer_container{
  background-color: $footer_bg_color;
  padding-top: 80px;
  .footer_box{
    @include media_box_width();
    @include pad-screen(){
      width:668px;
    }
    .footer_box_top{
      &>.row{
        margin:0;
      }
      padding-bottom: 30px;
      h5.column_title{
        font-size: 20px;
        color: $column_title_color;
        margin-bottom: 30px;
        @include middle-screen(){
          font-size: 16px;
        }
        @include mobile-screen(){
          font-size: 16px;
        }
      }
      a{
        color: $column_link_color;
        &.active{
          color: $main_nav_active_color;
        }
      }
      nav.footer_nav_list{
        list-style: none;
        padding: 0;
      }
      ul.footer_profile_list{
        label{
          color: $column_link_color;
          & + li{
            margin-top: 0;
          }
        }
        li{
          @include ellipsis();
          a{
            font-size: 12px;
            color: $column_pro_link_color;
          }
          & + label{
            margin-top: 8px;
          }
        }

      }

      .contact_area{
        margin-bottom: 15px;
        span{
          display: block;
          color: $column_contact_color;
          white-space: normal;
          word-break: break-word;
          &:first-child{
            margin-bottom: 5px;
          }
        }
      }

      .wechat_code_area{
        text-align: center;
        padding-top: 12px;
        img{
          width: 184px;
          max-width: 90%;
        }
        label{
          display: block;
          margin-top: 15px;
          font-size: 12px;
          color: $column_code_label_color;
        }
      }
    }

    .footer_box_bottom{
      padding: 20px 0;
      font-size: 12px;
      margin-left:-15px;
      margin-right: -15px;
      border-top: 1px solid $copy_border_top_color;
      text-align: center;
      color: $copy_text_color;
      a{
        color: $copy_link_color;
      }
    }
  }
}
