
$small_banner_height_pc:286px;
$small_banner_height_pad:200px;
$small_banner_height_mobile:150px;
$about_default_font:HiraginoSansGB-W3;


.about_us_banner_container{
  padding-left:5%;
    height:$small_banner_height_pc;
    background: #000 url("/images/img/about/img_introduce_banner.png") no-repeat;
    background-position: right center;
  background-size: auto 100%;
    @include mobile-screen(){
      height:$small_banner_height_mobile;
      background-position: 9em center;
    }
  @include pad-screen(){
    height:$small_banner_height_pad;
  }
    .wrap{
      @include media_box_width;
      .about_morelink{
        font-size:36px;
        line-height: $small_banner_height_pc;
        color:#FFF;
        @include mobile-screen(){
          font-size:24px;
          line-height: $small_banner_height_mobile;
        }
        @include pad-screen(){
          line-height:$small_banner_height_pad;
        }
      }
    }
  }

//公司简介
.company_intro_container{
  padding:2em 0;
  @include mobile-screen(){
    padding:0;
  }
  .company_intro_box{
    padding: 0 15px;
    @include media_box_width;
    .about_us{
      p.losange{
        padding-left:2em;
        position: relative;
      }
      .losange:before{
        content: "◆";
        font-size: 10px;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 0.2em;
      }
    }
  }
}
//产品与方案
.scheme_container{
  padding:2em 0;
  @include mobile-screen(){
    padding:0;
  }
  background-color: #f9f9f9;
  .wrap{
    @include media_box_width;
    .content_box{
      .product_intro{
        @include flex_align;
        margin:0;
        @include mobile-screen(){
          display: block;
        }
        .product_text{
          .title_gray{
            font-family:$about_default_font;
            font-size:18px;
            color:#909090;
            @include pad-screen(){
              font-size:20px;
            }
            @include big-screen(){
              font-size:24px;
            }
            @include huge-screen(){
              font-size:26px;
            }
          }
        }
        .product_img{
          img{
            margin:0 auto;
            padding-bottom:1em;
            @include mobile-screen(){
              padding-bottom:3em;
            }
          }
        }
      }
      .product_four{
        margin:0;
        .col-xs-12{
          padding:5em;
          @include mobile-screen(){
            padding: 1em 3em;
          }
          @include pad-screen(){
            padding:1em 3em;
          }
          .title{
            text-align: center;
            font-size:14px;
            line-height: 60px;
            padding-bottom:1em;
            &.finish_pro:before{
              background:url("/images/icon/ic_semifinished.png");
            }
            &.half_pro:before{
              background:url("/images/icon/ic_finishedproduct.png");
            }
            &.sofeware:before{
              background:url("/images/icon/ic_soft.png");
            }
            &.hardware:before{
              background:url("/images/icon/ic_hard.png");
            }
            &:before{
              content:"";
              width:60px;
              height:60px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              background-repeat: no-repeat;
            }
          }
        }
      }

    }
  }
}
//管理团队
.member_container{
  background:url("/images/img/about/img_team_bg.jpg");
  height:600px;

  padding:5em 2em;
  @include mobile-screen(){
    height:auto;
    padding:2em 1em;
  }
  @include pad-screen(){
    height:auto;
  }
  @include middle-screen(){

  }
  .wrap{

    .about_title{
      color: #ffffff;
      margin-bottom:0;
    }
    .about_us{
      p{
        text-align: center;
        color: #ffffff;
      }
    }
    .header_img_box{

      padding-top:6em;
      text-align: center;
      @include mobile-screen(){
        width: calc(320px - 2em);;
        margin: 0 auto;
      }
      @include pad-screen(){
        width:700px;
        margin: 0 auto;
      }
      .header_img_item{
        display: inline-block;
        margin:5px 7px;
        position: relative;
        &.visible-xs{
          display: inline-block !important;
          @include middle-screen(){
            display: none !important;
          }
          @include big-screen(){
            display: none !important;
          }
          @include huge-screen(){
            display: none !important;
          }
          @include pad-screen(){
            display: inline-block !important;
          }
        }
        @include mobile-screen(){
          width:120px;
          margin-bottom:2em;
        }
        @include middle-screen(){
          width:200px;
        }
        &:hover{
          .intro_hover{
            opacity:1;
            cursor: pointer;
          }
        }
        .intro_hover{
          transition: all .5s;
          opacity: 0;
          width:100%;
          height:100%;
          content: attr(data-title);
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          font-size:14px;
          background-color: rgba(255, 255, 67, 0.71);
          font-family: HiraginoSansGB-W3;
          @include flex_align();
          @include mobile-screen(){
            opacity: 1;
            content: attr(data-title);
            display: inline-block;
            position: static;
            margin-top:5px;
            font-size:12px;
            background-color: transparent;
            color: #ffffff;
          }
          @include pad-screen(){
            opacity: 1;
            content: attr(data-title);
            display: inline-block;
            position: static;
            margin-top:5px;
            font-size:12px;
            background-color: transparent;
            color: #ffffff;
            margin-bottom:2em;

          }
        }

      }
    }
  }
}
//联系我们
.contact_container{
  padding-bottom:5em;
  .wrap{
    @include media_box_width;
    .contact_form{
      max-width:600px;
      margin:0 auto;
      input,textarea{
        margin:0.2em;
        box-shadow: none;
      }
      input:focus,textarea:focus{
        border-color:#CCC;
        box-shadow: none;
      }
      textarea{
        resize: none;
      }
      button{
        padding:6px 30px;
        margin:1em 0;
        margin-left:2px;
      }
    }
    .about_title{
      margin-bottom:0;
    }
    .about_us{
      p{
        text-align: center;
      }
    }
  }
}

//提交成功弹出框
.submit_sussful{
  @include mobile-screen(){
    height:50px;
  }
  @include pad-screen(){
    height:70px;
  }
  height:100px;


  position: fixed;
  top:-100px;
  left:calc(50% - 100px);
  background-color:#FFF;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: all 0.5s;
  box-shadow: 0 0 2px #CCC;
  .wrap{
    width:200px;
    @include mobile-screen(){
      height:50px;
    }
    @include pad-screen(){
      height:70px;
    }
    height:100px;
    text-align: center;
    p{
      display: inline-block;
      font-size:20px;
      @include mobile-screen(){
        height:50px;
        line-height:50px;
      }
      @include pad-screen(){
        height:70px;
        line-height:70px;
      }
      height:100px;
      line-height: 100px;
      margin-bottom:0;
      @include pad-screen(){
        font-size:16px;
      }
      @include mobile-screen(){
        font-size:14px;
      }
      i{
        display:inline-block;
        width:40px;
        height:24px;
        line-height:100px;
        @include mobile-screen(){
          line-height:50px;
        }
        @include pad-screen(){
          line-height:70px;
        }
        background-repeat:no-repeat;
        background-position: center center;
        vertical-align: middle;
        margin-top: -5px;
        @include pad-screen(){
          background-size:80%;
        }
        @include mobile-screen(){
          background-size:70%;
        }
        &.submit_icon_t{
          background-image:url(/images/icon/ic_right.png);
        }
        &.submit_icon_f{
          background-image:url(/images/icon/ic_error.png);
        }
      }
    }

  }
  &.active{
    top:0;
    @include mobile-screen(){
      top:50px;
    }
  }
}



//公共文章样式

.about_title{
  font-size:22px;
  text-align:center;
  padding:0.7em;
  margin:1em 0;
  @include pad-screen(){
    font-size: 26px;
  }
  @include big-screen(){
    font-size:32px;
  }
  @include huge-screen(){
    font-size:36px;
  }
}
article.about_us{
  p{
    font-family:$about_default_font;
    font-size: 18px;
    color:#323131;
    line-height:1.8;
    letter-spacing: 1px;
    @include mobile-screen(){
      padding:0 15px;
      font-size: 12px;
    }
    @include middle-screen(){
      font-size: 14px;
    }
    @include big-screen(){
      font-size:16px;
    }
  }
}



