.about_us_banner_container.solution_banner_container {
  background: #FFF url("/images/img/solute/img_banner.png") no-repeat;
  padding-left: 5%;
  height: $small_banner_height_pc;
  background-position: right center;
  background-size: auto 100%;
  @include mobile-screen() {
    height: $small_banner_height_mobile;
    background-position: 9em center;
  }
  @include pad-screen() {
    height: $small_banner_height_pad;
  }
  .wrap {
    @include media_box_width;
    @include pad-screen(){
      width:668px;
    }
    .about_morelink {
      font-size: 36px;
      line-height: $small_banner_height_pc;
      color: #000;
      @include mobile-screen() {
        font-size: 17px;
        line-height: $small_banner_height_mobile;
      }
      @include pad-screen() {
        font-size: 24px;
        line-height: $small_banner_height_pad;
      }
    }
  }
}

$solution_dark_color: #000;
$solution_gray_color: #817B7B;
$solution_light_gray_color: #909090;
$solution_default_font: HiraginoSansGB-W3;
$solution_s_font: STHeiti-Light;

.solution_body_container {
  .solution_wrap {
    @include media_box_width;
    .solution_content_box {
      max-width: 780px;
      margin: 0 auto;
      margin-bottom: 5em;
      position: relative;
      @include big-screen() {
        padding-left: 120px;
      }
      @include manual-screen(1300px, 1500px) {
        padding-left: 150px;
        max-width: 850px;
      }
      @include huge-screen() {
        padding-left: 100px;
        max-width: 900px;
      }
      .solution_content {
        padding-top: 50px;
        @include big-screen() {
          min-height: 270px;
        }
        @include huge-screen() {
          min-height: 300px;
        }
        .solution_title {
          font-family: $solution_default_font;
          letter-spacing: 2px;
          font-size: 22px;
          //padding:0.7em;
          //margin:1em 0;
          line-height: 1.8;
          @include mobile-screen() {
            margin: 0;
          }
          @include pad-screen() {
            font-size: 26px;
          }
          @include big-screen() {
            font-size: 32px;
          }
          @include huge-screen() {
            font-size: 36px;
          }
        }
        p, li {
          font-family: $solution_default_font;
          letter-spacing: 1px;
          font-size: 18px;
          color: #323131;
          line-height: 1.8;
          padding: 0 15px;
          @include mobile-screen() {
            padding: 0 15px;
            font-size: 12px;
          }
          @include middle-screen() {
            font-size: 14px;
          }
          @include big-screen() {
            font-size: 16px;
          }
        }
        .summary {
          font-size: 22px;
          font-family: $solution_default_font;
          color: $solution_light_gray_color;
          line-height: 1.5;
          @include mobile-screen() {
            font-size: 16px;
          }
        }
        img {
          padding: 1em 15px;
        }
        li:before {
          content: "•";
          font-size: 20px;
          vertical-align: middle;
        }
      }
      .other_solution_box {
        font-family: STHeitiSC-Light;
        letter-spacing: 1px;
        width: 240px;
        @include big-screen() {
          padding-bottom: 0.6em;
          ul {
            max-width:137px;
            margin: 0 auto;

          }
        }
        @include huge-screen() {
          ul {
            max-width: 137px;
            margin: 0 auto;

          }
          padding-bottom: 0.6em;
        }
        position: absolute;
        top: 57px;

        @include big-screen() {
          left: -160px;
        }
        background-color: #F9F9F9;
        @include huge-screen() {
          left: -210px;
        }
        @include mobile-screen() {
          position: static;
          background-color: transparent;
        }
        @include pad-screen() {
          position: static;
          background-color: transparent;
        }
        li {
          font-weight: 100;
          padding: 0.4em 0;
          line-height: 2;
          font-size: 16px;
          color: $solution_gray_color;
          font-family: STHeiti-Light;
          &:first-child {
            padding-top: 0.6em;
            padding-bottom: 0.6em;
          }
          @include mobile-screen(){
            padding-left:20px;
          }
          @include pad-screen(){
            padding-left:20px;
          }
          &.t {
            font-size: 16px;
            @include pad-screen() {
              font-size: 18px;
            }
            @include big-screen() {
              font-size: 18px;
            }
            @include huge-screen() {
              font-size: 20px;
            }
          }
          a {
            line-height: 2;
            font-size: 14px;
            font-family: STHeiti-Light;
            @include pad-screen() {
              font-size: 16px;
            }
            @include big-screen() {
              font-size: 16px;
            }
            @include huge-screen() {
              font-size: 18px;
            }
            color: $solution_gray_color;
            &:hover {
              text-decoration: none;
            }
          }
          @include mobile-screen() {
            line-height: 1;
          }
        }
      }
    }

  }
}
