
.product_img_container {
  background-color: $recommend_pro_bg_color;
  padding: 100px 0 100px 0;

  @include middle-screen() {
    padding: 60px 0 60px 0;
  }

  @include mobile-screen() {
    padding: 40px 0 40px 0;
  }

  .product_img_wrap {
    @include media_box_width();
    .product_function_box {
      font-size: 18px;
      color: #FFFFFF;
      padding: 2em 3em;
      padding-left: 3.5em;
      font-size: 18px;
      p {
        font-size: 18px;
        margin-top: 20px;
        line-height: 1.8;
        position: relative;
        &:before {
          content: "•";
          font-size: 10px;
          vertical-align: middle;
          position: absolute;
          left: -1.3em;
          top: 0.2em;
        }
      }
      @include middle-screen() {
        font-size: 14px;
        p {
          font-size: 14px;
          margin-top: 12px;
        }
      }
      @include mobile-screen() {
        font-size: 12px;
        margin-bottom: 10px;
        p {
          font-size: 12px;
          margin: 0;
          padding-top: 0px;
        }
      }
    }
    img.product_img {
      margin: 0 auto;
      display: block;
      @include mobile-screen() {
        width: 100%;
        max-width: 90%;
        margin-left: 5%;
      }
    }
  }
}

.param_container {
  background-color: #323131;
  padding: 3em 0;
  @include mobile-screen() {
    padding: 3em 8%;
  }
  .param_wrap {
    @include media_box_width;
    @include manual-screen(768px, 840px) {
      width: 700px;
    }
    @include manual-screen(1200px,1300px){
      width:1100px;
    }
    @include huge-screen(){
      width:1400px;
    }
    .prama_title {
      margin: 0 auto;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-size: 40px;
      color: $recommend_header_color;
      @include middle-screen() {
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 30px;
      }

      @include mobile-screen() {
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        border-bottom-color: lighten($recommend_header_border_color, 30%);
      }
    }
    .prama_contrast {
      @include mobile-screen() {
        text-align: center;
        margin-bottom: 20px;
      }
      a {
        color: #FFF;
        border: 1px solid #FFF;
        height: 47px;
        padding:0 1em;
        display: inline-block;
        line-height: 47px;
        text-align: center;
        float: right;
        font-size: 24px;
        &:hover {
          text-decoration: none;
        }
        @include big-screen(){
          font-size:20px;
        }
        @include pad-screen(){
          font-size:18px;
        }
        @include mobile-screen() {
          float: none;
          font-size: 16px;
          height: 35px;
          line-height: 35px;
        }
      }

    }
    .prama_body_wrap {
      //width:100%;
      padding-top: 2em;
      table-layout: fixed;
      color: #FFF;
      .col-xs-12 {
        height: auto;
        border: 1px solid #CCC;
        margin-top: -1px;
        margin-left: -1px;
        padding: 1em 2em;
        padding-left: 3em;
        @include mobile-screen() {
          padding: 1em 2.5em;
        }
        .pro_title {
          text-align: center;
          margin: 0 auto;
          letter-spacing: 1px;
          margin-bottom: 1em;
          p{
            font-size: 24px;
            display: inline-block;
            border-bottom: 1px solid #CCC;
            @include big-screen(){
              font-size:20px;
              margin: 0 -15px;
            }
            @include pad-screen(){
              font-size:18px;
            }
            @include mobile-screen() {
              font-size: 16px;
            }
          }
        }
        .pro_body {
          .pro_body_item {
            font-size: 18px;
            position:relative;
            @include middle-screen() {
              font-size: 14px;
            }
            @include mobile-screen() {
              font-size: 12px;
              padding-top: 0px;
            }
            &:before {
              content: "●";
              font-size: 10px;
              position: absolute;
              left: -1.3em;
              top: 0.2em;
            }
          }
        }
      }

    }
  }
}
